_gitignore/
*.log
Caddyfile
!caddyfile/
.idea

# artifacts from pprof tooling
*.prof
*.test

# build artifacts
cmd/caddy/caddy
cmd/caddy/caddy.exe
buildenv_*
caddy


# mac specific
.DS_Store

# go modules
vendor
go.sum

# goreleaser artifacts
dist
caddy-build
caddy-dist